// 自定义抽屉背景overlay
$drawerBgOverlay: var(--el-overlay-color-lighter);
// 自定义抽屉背景
$drawerBg: var(--el-bg-color);
$textColor: var(--el-text-color);
$borderColor: var(--el-border-color);

$bg: var(--el-color-primary);
$hoverBg: var(--el-menu-hover-bg-color);
